<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Easy Fly"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ScreenExplore.thoi_tiet"
            android:exported="false" />
        <activity
            android:name=".HoSo.danhgia"
            android:exported="false" />
        <activity android:name=".VdCallActivity">

            <!-- Other activity-related configurations -->
        </activity>
        <activity android:name=".CallingActivity">

            <!-- Other activity-related configurations -->
        </activity>
        <activity
            android:name=".Zalo"
            android:exported="false"
            android:label="Zalo" />
        <activity
            android:name=".Message"
            android:exported="false"
            android:label="Message" />
        <activity
            android:name=".HoSo.BaoCao"
            android:exported="false" />
        <activity
            android:name=".HoSo.DieuKhoan"
            android:exported="false" />
        <activity
            android:name=".HoSo.Danh_Gia"
            android:exported="false" />
        <activity
            android:name=".Fragment.FragmentMain"
            android:exported="false" />
        <activity
            android:name=".datve.ThongTinThanhToan"
            android:exported="false" />
        <activity
            android:name=".datve.DanhSachBay"
            android:exported="false" />
        <activity
            android:name=".ScreenMainActivity"
            android:exported="true" />
        <activity
            android:name=".datve.Ngay_thang_nam"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".datve.BookingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" />
        <activity
            android:name=".ScreenExplore.ScreenSaigon"
            android:exported="false" />
        <activity
            android:name=".ScreenExplore.ScreenHanoi"
            android:exported="false" />
        <activity
            android:name=".ScreenExplore.ScreenDanang"
            android:exported="false" />
    </application>

</manifest>